<template>
    <div class="v-DisplaySettings">
        <!-- Display Settings Dialog -->
        <v-dialog
            v-model="state.gui.display_settings_dlg"
            scrollable
            @keydown.esc="state.gui.display_settings_dlg = false"
        >
            <v-card>
                <v-card-title class="yellow">
                    <h2>Lexical Unit Attributes to display</h2>
                    <v-spacer></v-spacer>
                    <v-btn
                        flat
                        icon
                        @click="state.gui.display_settings_dlg = false"
                        class="align-end"
                    >
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>
                    <div>
                        <h4>Miscellanea</h4>
                    </div>
                    <v-container fluid>
                        <v-layout row wrap>
                            <v-flex xs12 sm4>
                                <v-checkbox
                                    label="Display all LUs in matched Lexemes"
                                    v-model="state.gui.show_all_lus"
                                />
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <div
                        v-for="(group, _) in state.config.display_options"
                        :key="_"
                    >
                        <div>
                            <a class="right" @click="select_all(group)">
                                <close-box
                                    v-if="group.unticked === 0"
                                    title="Unselect All"
                                    decorative
                                    class="medium"
                                />
                                <close-box
                                    v-else
                                    title="Select All"
                                    decorative
                                    class="medium"
                                />
                            </a>
                            <h4>{{ group.title }}</h4>
                        </div>
                        <v-container fluid>
                            <v-layout row wrap>
                                <v-flex
                                    v-for="(attr, a_name) in group.attrs"
                                    :key="a_name"
                                    xs12
                                    sm4
                                >
                                    <v-checkbox
                                        :label="attr.label"
                                        v-model="attr.value"
                                        @change="
                                            group.unticked += attr.value
                                                ? -1
                                                : 1
                                        "
                                    />
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../Store.js"
import CloseBox from "vue-material-design-icons/CloseBox"

export default {
    data() {
        return {
            state:
                store.state /** A reference to the global application state */,
        }
    },
    methods: {
        select_all(group) {
            const sz = Object.entries(group.attrs).length
            if (group.unticked === 0) {
                for (let [_, a] of Object.entries(group.attrs)) {
                    a.value = false
                }
                group.unticked = sz
            } else {
                for (let [_, a] of Object.entries(group.attrs)) {
                    a.value = true
                }
                group.unticked = 0
            }
        },
    },
    components: {
        CloseBox,
    },
}
</script>
