<template>
    <div class="v-Editor">
        <button @click="open = true"><v-icon>edit</v-icon></button>
        <v-dialog v-model="open" max-width="80%" scrollable>
            <v-card class="editor-dialog">
                <v-card-title class="yellow">
                    <h2>Edit {{ lu._id }}</h2>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue darken-1"
                        flat
                        @click="open = false"
                        class="align-end"
                        ><v-icon>close</v-icon>Close</v-btn
                    >
                    <v-btn
                        color="blue darken-1"
                        flat
                        @click="save()"
                        class="align-end"
                        ><v-icon>save</v-icon>Save</v-btn
                    >
                </v-card-title>
                <v-card-text style="height: 800px;">
                    <v-progress-linear v-if="saving" indeterminate />
                    <codemirror
                        ref="cm"
                        v-model="lu.source.text"
                        :options="cmOptions"
                        class="editor"
                    />
                </v-card-text>
                <v-card-actions> </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import api from "../Api.js"

import "codemirror/lib/codemirror.css"
import {codemirror} from "vue-codemirror"
import CodeMirror from "codemirror"

CodeMirror.defineMode("lumode", () => {
    const FUNCTORS = [
    'NONE',
    'PRED_SE',
    'PRED_SI',
    'PRED_NEG',
    'PRED',
    'ACMP',
    'ACT',
    'ADDR',
    'AIM',
    'APP',
    'AUTH',
    'BEN',
    'CAUS',
    'COMPL',
    'COND',
    'CPHR',
    'CPR',
    'CRIT',
    'DIFF',
    'DIR',
    'DIR1',
    'DIR2',
    'DIR3',
    'DPHR',
    'EFF',
    'EXT',
    'HER',
    'ID',
    'INTF',
    'INTT',
    'LOC',
    'MANN',
    'MAT',
    'MEANS',
    'NORM',
    'OBST',
    'ORIG',
    'PAT',
    'RCMP',
    'REG',
    'RESL',
    'RESTR',
    'RSTR',
    'SUBS',
    'TFHL',
    'TFRWH',
    'THL',
    'THO',
    'TOWH',
    'TPAR',
    'TSIN',
    'TTILL',
    'TWHEN'
    ]
    const FUNCTOR_RGX = "(" + FUNCTORS.join("|") + ")"
    const FUNCTOR_TUPLE_REGEX = RegExp("(" + FUNCTOR_RGX + "-?){1,3}")
    const STATE_FUNCT_TUPLE = 0
    const STATE_ID = 1
    const STATE_LEMMA = 2
    const STATE_UNKNOWN = 3
    const STATE_ATTR = 4
    const STATE_COMMENT = 5

    return {
        startState() {
            return {last: STATE_UNKNOWN}
        },
        indent(state, textafter) {
            if (textafter.match(/-[^ ]*:/)) {
                return 4
            }
            if (textafter.match(/~/)) {
                return 1
            }
            if (textafter.match(/: id:/)) {
                return 0
            }
            if (textafter.match()) if (state === STATE_LEMMA) return 1
            return CodeMirror.Pass
        },
        electricInput: /(-[^ ]*:)|(~)|(:)$/,
        token(stream, state) {
            if (stream.match(/: id:[^#]*/)) {
                state.last = STATE_ID
                return "lu-id"
            } else if (stream.match(/~[^#]*/)) {
                state.last = STATE_LEMMA
                return "lu-lemma"
            } else if (stream.match(FUNCTOR_TUPLE_REGEX)) {
                state.last = STATE_FUNCT_TUPLE
                return "lu-funct-tuple"
            } else if (
                state.last === STATE_FUNCT_TUPLE &&
                stream.match(/\([^)]*\)/)
            ) {
                state.last = STATE_UNKNOWN
                return "lu-funct-args"
            } else if (stream.match(/-[^ ]*:/)) {
                state.last = STATE_ATTR
                return "lu-attr"
            } else if (stream.match(/#.*/)) {
                state.last = STATE_COMMENT
                return "lu-comment"
            } else {
                state.last = STATE_UNKNOWN
                stream.next()
                return null
            }
        },
    }
})

export default {
    data() {
        return {
            open: false,
            saving: false,
            cmOptions: {
                mode: "lumode",
                autofocus: true,
                styleActiveLine: true,
                lineWrapping: true,
            },
        }
    },
    methods: {
        async save() {
            this.saving = true
            await api.saveLU(this.lu, this.lu.source.text)
            this.saving = false
            this.open = false
        },
    },
    components: {
        codemirror,
    },
    watch: {
        open(oldval, newval) {
            if (!newval) {
                this.$refs.cm.cminstance.focus()
                setTimeout(() => window.dispatchEvent(new Event("resize")), 500)
            }
        },
    },
    props: ["lu"],
}
</script>

<style lang="scss">
.v-Editor {
    margin-left: 0.2em;
}

.editor-dialog {
    .editor {
        height: auto;
    }
    .cm-lu-id {
        color: #e91e63;
    }
    .cm-lu-lemma {
        color: #1ed4b4;
    }
    .cm-lu-funct-tuple {
        color: #673ab7;
    }
    .cm-lu-funct-args {
        color: #ff9801;
    }
    .cm-lu-attr {
        color: #2196f1;
    }
    .cm-lu-comment {
        color: gray;
    }
    .CodeMirror-cursor {
        /* width:1px;
        background-color:lightgray;
        border: solid 1px lightgray; */
    }
    .CodeMirror {
        height: auto;
    }
}
</style>
