<template>
    <div class="v-HelpDlg">
        <v-dialog
            v-model="state.gui.help_dlg"
            max-width="80%"
            @keydown.esc="state.gui.help_dlg = false"
            scrollable
        >
            <v-card class="v-HelpDlg" id="App-HelpDlg">
                <v-card-title class="yellow">
                    <h2>{{ help.title }}</h2>
                    <v-spacer></v-spacer>
                    <v-btn
                        flat
                        icon
                        @click="state.gui.help_dlg = false"
                        class="align-end"
                    >
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text v-html="help.content" class="help"> </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../Store.js"

export default {
    data() {
        return {
            state:
                store.state /** A reference to the global application state */,
        }
    },
    props: ["lu"],
    computed: {
        /** Returns the current help topic  */
        help() {
            const ret = this.state.help[this.state.gui.current_help_topic]
            return ret ? ret : {title: "", content: ""}
        },
    },
}
</script>

<style lang="scss">
.help {
    font-size: 12pt;
}
</style>
