<template>
    <div>
        <v-dialog
            v-model="state.gui.login_dlg"
            max-width="40%"
            @keydown.esc="state.gui.login_dlg = false"
            scrollable
        >
            <v-card class="v-Login">
                <v-toolbar class="teal">
                    <v-toolbar-title>
                        <h2 v-if="logged_in">Log out</h2>
                        <h2 v-else>Log in</h2>
                    </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <div v-if="logged_in && msg" class="msg-passed">
                        <h3>{{ msg }}</h3>
                    </div>
                    <div v-else-if="msg" class="msg-failed">
                        <h3>{{ msg }}</h3>
                    </div>
                    <v-spacer></v-spacer>
                    <v-form  v-if="!logged_in" v-on:keyup.enter="onEnter">
                        <v-text-field
                            v-model="name"
                            prepend-icon="person"
                            name="login"
                            label="Login"
                            autocomplete="username"
                            type="text"
                            required
                            :rules="loginRules"
                            v-on:keyup.enter="onEnter"
                        ></v-text-field>
                        <v-text-field
                            v-model="password"
                            id="password"
                            prepend-icon="lock"
                            name="password"
                            label="Password"
                            type="password"
                            autocomplete="current-password"
                            required
                            :rules="passwordRules"
                            v-on:keyup.enter="onEnter"
                        ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions v-if="!logged_in">
                    <v-spacer></v-spacer>
                    <v-btn @click="doLogin" color="teal btn">Log in</v-btn>
                </v-card-actions>
                <v-card-actions v-else>
                    <v-spacer></v-spacer>
                    <v-btn @click="doLogout" color="teal btn">Log out</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../Store.js"
import api from "../Api.js"

export default {
    data() {
        return {
            state: store.state /** A reference to the global application state */,
            passwordRules: [
                (value) => !!value || "Please type a password.",
                // (value) =>
                //     (value && value.length >= 6) || "minimum 6 characters",
            ],
            loginRules: [(value) => !!value || "Please type your username."],
            name: "",
            password: "",
            error: false,
            msg: "",
            logged_in: false,
        }
    },
    methods: {
        async doLogin() {
            try {
                const response = await api.login(
                    store,
                    this.name,
                    this.password
                )
                this.logged_in = response.result
                this.msg = response.msg
            } catch {
                this.error = true
                return false, "UNEXPECTED ERROR in login function!"
            }
        },
        async doLogout() {
            try {
                const response = await api.logout(store)
                this.logged_in = false
                this.msg = response.msg
                this.name = ""
                this.password = ""
            } catch {
                this.error = true
                return false, "UNEXPECTED ERROR in logout function!"
            }
        },
        onEnter() {
            if (!this.logged_in) {
                this.doLogin()
            } else {
                this.doLogout()
            }
        },
    },
}
</script>

<style lang="scss">
.v-Login {
    .center {
        text-align: center;
    }
    .btn {
        text-decoration: none;
        color: white;
    }
    .msg-passed {
        color: green;
    }
    .msg-failed {
        color: red;
    }
}
</style>
