<template>
    <span class="v-MarkedText">
        <span
            v-for="(piece, index) in pieces"
            :class="piece.mark"
            :key="index"
            >{{ piece.txt }}</span
        >
    </span>
</template>

<script>
export default {
    props: ["text", "regexClassPairs"],
    name: "MarkedText",
    computed: {
        /** Splits the text into intervals each of which is either marked or unmarked.*/
        pieces() {
                const text = this.text
                const class_vectors = new Map()
                for (const [re, class_] of this.regexClassPairs) {
                    let class_vector = class_vectors.get(class_)
                    if (!class_vector) {
                        class_vector = Array(text.length).fill(false)
                        class_vectors.set(class_, class_vector)
                    }
                    for (const match of text.matchAll(re)) {
                        class_vector.fill(true, match.index, match.index + match[0].length)
                    }
                }
                let class_vectors_array = [...class_vectors.values()]
                const transposed = []
                for (let i = 0; i < text.length; i++) {
                    transposed.push(class_vectors_array.map(vec => vec[i] ? "1" : "0").join(""))
                }
                const points = [0]
                for (let i = 1; i < text.length; i++) {
                    if (transposed[i - 1] != transposed[i]) {
                        points.push(i)
                    }
                }
                points.push(text.length);
                const result = []
                for (let i = 0; i < points.length - 1; i++) {
                    const [run_begin, run_end] = [points[i], points[i + 1]]
                    const classes = []
                    for (const [key, vec] of class_vectors) {
                        if (vec[run_begin]) {
                            classes.push(key)
                        }
                    }
                    result.push({
                        txt: text.slice(run_begin, run_end),
                        mark: classes.join(' ')
                    })
                }
                return result
        },
    },
}
</script>
<style lang="scss">
.v-MarkedText {
    .mark {
        background-color: yellow
    }
    .pred {
        font-weight: 600;
        //color: #1ed4b4;
    }
    .functor {
        color: #1ed4b4;
        vertical-align: bottom; //sub is too low
        font-size: smaller;
        //font-weight: bold;
        //font-style: italic;
    }
    .pred.functor {
        display: none;
    }
}
</style>
