<template>
    <v-breadcrumbs :items="['Query:'].concat(state.current_query)">
        <v-icon slot="divider">chevron_right</v-icon>
        <template slot="item" slot-scope="props">
            <a @click="goto(props.item)">{{ props.item }}</a>
        </template>
    </v-breadcrumbs>
</template>

<script>
import store from "../Store.js"

export default {
    data() {
        return {
            state: store.state,
        }
    },
    methods: {
        goto(item) {
            const stop =
                item === "@" ? 0 : this.state.current_query.indexOf(item) + 1
            store.mutations.sliceQuery(0, stop)
            store.actions.search()
        },
    },
}
</script>

<style lang="scss"></style>
