<template>
    <v-container fluid grid-list-md>
        <v-data-iterator
            :items="lexeme_ids"
            :rows-per-page-items="rowsPerPageOptions"
            :pagination.sync="pagination"
            :expand="true"
            column
            wrap
        >
            <v-flex slot="item" slot-scope="props" xs12 sm12 md12 lg12>
                <a :name="'lex:' + props.item" class="lexeme">
                    <Lexeme :lexemeID="props.item" :key="props.item" :hide-attrs="hideAttrs" />
                </a>
            </v-flex>
        </v-data-iterator>
    </v-container>
</template>

<script>
import Lexeme from "./Lexeme.vue"
import store from "../Store.js"

export default {
    data: () => ({
        rowsPerPageOptions: [10, 20, 50, 100],
        pagination: {
            rowsPerPage: 10,
            page: 0,
        },
        state: store.state,
    }),
    components: {Lexeme},
    props: ["lexeme_ids", "rowsPerPage", "hideAttrs", "scroll_to"],
    watch: {
        scroll_to: function(new_val, _old_val) {
            for (const [index, lexeme_id] of this.lexeme_ids.entries()) {
                if (new_val == lexeme_id) {
                    this.pagination.page =
                        Math.floor(index / this.pagination.rowsPerPage) + 1
                    return
                }
            }
        },
        rowsPerPage: function(new_val, _old_val) {
            this.pagination.rowsPerPage = Math.min(new_val, 200) // Otherwise we might run out of memory
        },
    },
    created() {
        performance.mark("App/gui/ResultTable:start")
    },
    mounted() {
        this.$nextTick(() => performance.mark("App/gui/ResultTable:end"))
    },
}
</script>

<style scoped>
a.lexeme {
    cursor: default;
}
</style>
