<template>
    <div class="v-Errors">
        <v-dialog
            v-model="state.gui.lu_errors_dlg"
            max-width="60%"
            @keydown.esc="state.gui.lu_errors_dlg = false"
        >
            <v-card class="error-dialog">
                <v-card-title 
                    v-if="state.gui.lu_errors_dlg_type == 'error'"
                    class="red">
                    <h2>Failed Tests</h2>
                    <v-spacer></v-spacer>
                    <v-btn
                        flat
                        icon
                        @click="state.gui.lu_errors_dlg = false"
                        class="align-end"
                        ><v-icon>close</v-icon></v-btn
                    >
                </v-card-title>
                <v-card-title 
                    v-else
                    class="orange">
                    <h2>Warnings</h2>
                    <v-spacer></v-spacer>
                    <v-btn
                        flat
                        icon
                        @click="state.gui.lu_errors_dlg = false"
                        class="align-end"
                        ><v-icon>close</v-icon></v-btn
                    >
                </v-card-title>
                <v-card-text>
                    <div
                        v-for="(e, index) in state.gui
                            .current_validation_errors"
                        :key="index"
                    >
                        <h3 class="title">{{ e[0] }}</h3>
                        <h4 class="doc">{{ test_docs[e[0]] }}</h4>
                        <div
                            v-for="(msg, index) in e[1].split('\n')"
                            :key="index"
                        >
                            {{ msg }}
                        </div>
                        <v-divider
                            v-if="
                                index <
                                    state.gui.current_validation_errors.length -
                                        1
                            "
                            class="divider"
                        />
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import api from "../Api"
import store from "../Store"

export default {
    data() {
        return {
            state: store.state,
            test_docs: {},
        }
    },
    async created() {
        this.test_docs = await api.getTests()
    },
}
</script>

<style lang="scss">
.v-Errors {
    margin-left: 0.2em;
}

.error-dialog {
    h4.doc {
        margin-bottom: 0.5em;
        font-weight: normal;
        color: gray;
    }

    h3.title {
        margin-top: 0.3em;
    }

    .divider {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
}
</style>
