Please refer to <a href="https://verner.gitlab.io/pyvallex/contents.html#license">the documentation</a> for information about the license of the pyvallex software,
and to the <a href="https://lindat.mff.cuni.cz/repository/xmlui/discover?query=Vallex&submit=">Lindat repository</a> for the Vallex, NomVallex and PDT-Vallex data.
