<div class="headerinfo">
</div>
<div id="veryfirst"></div>


<h2>Obsah</h2>
<ul class="toc">
	<li>&nbsp;<a href="#sec-chap-valence-slovniky" class="href">Úvod</a></li>
	<li><a href="#sec:biblio" class="href">Seznam literatury</a></li>
</ul>
<hr />

<h1 class="part" id="nomvallex.uvod"></h1>
<p></p>
<div id="text-chap-valence-slovniky" class="textblock"> <!-- LEVEL: 1 -->
<h1 id="sec-chap-valence-slovniky">Úvod</h1>

<p>

</p><p></p><p>
Valencí se označuje schopnost lexikální jednotky vázat na&nbsp;sebe závislé jednotky, případně počet a povaha těchto obligatorně či potenciálně vázaných jednotek 
(<a href="#bib:NESvalence" class="href" title="Valence">Panevová &ndash; Karlík, 2017</a>). 
V&nbsp;našem pojetí valencí slova rozumíme soubor na&nbsp;něm závislých jednotek,
které byly empiricky stanoveny jako obligatorní nebo fakultativní doplnění,
a jim odpovídajících formálních
(morfologických)
prostředků.<a href="#fn1" id="fnmark1" class="footnote">1</a><sup>,</sup>
<a href="#fn2" id="fnmark2" class="footnote">2</a>
</p><p>Z&nbsp;hlediska utváření větné struktury je možné za primární považovat valenci sloves,
protože slovesa díky své valenci vytvářejí centrum věty.
Valenci však mají i některá substantiva,
adjektiva a adverbia; i ta se významným způsobem na&nbsp;stavbě věty podílí.
Valence je jevem velmi komplexním.
Zásadní význam valence pro utváření struktury věty ji řadí ke&nbsp;gramatickým
(syntaktickým)
jevům,
její lexikální podmíněnost
(tj.&nbsp;jedinečnost lexikální jednotky a jejího valenčního chování)
ukazuje na&nbsp;potřebu jejího zkoumání v&nbsp;rámci lexikologie, 
včetně lexikografického zpracování. 
Pro popis valence je podstatný vztah mezi formou a funkcí (<a href="#bib:Panevova80formy" class="href" title="Formy a funkce ve stavbě české věty">Panevová, 1980</a>).
Přestože se valence primárně vztahuje k&nbsp;významové rovině jazyka,
tedy k&nbsp;hloubkové větné stavbě,
její nedílnou součástí je i její vyjádření v&nbsp;povrchové struktuře věty, kde jsou při různých povrchověsyntaktických strukturacích využívána různá morfematická vyjádření valenčních doplnění.<a href="#fn3" id="fnmark3" class="footnote">3</a>
</p><p></p><p>Tématem této práce je valence substantiv;
s&nbsp;valencí se setkáváme jak u&nbsp;substantiv odvozených
(deverbativních,
např.&nbsp;<span class="example"><span class="lemma">čtení</span> knihy, <span class="lemma">četba</span> knihy</span>, 
nebo deadjektivních,
např.&nbsp;<span class="example"><span class="lemma">hrdost</span> na tradici</span>),
tak u&nbsp;substantiv primárních, neodvozených
(např.&nbsp;<span class="example"><span class="lemma">verze</span> programu, <span class="lemma">koš</span> hub</span>).
Z&nbsp;povahy tradičně chápaného slovního druhu substantiv vyplývá řada vlastností,
které valenci substantiv od&nbsp;valence jiných slovních druhů odlišují.
Valence substantiv je typicky realizována v&nbsp;rámci nominální skupiny,
čímž je dána řada povrchověsyntaktických charakteristik,
které se ve&nbsp;valenci substantiv odrážejí.
Valenci mohou mít substantiva abstraktní,
označující událost (děj/proces/stav,
např.&nbsp;<span class="example"><span class="lemma">potěšení</span> bližních dárkem, <span class="lemma">balení</span> léků do krabiček, <span class="lemma">kontrola</span> trati traťmistrem, <span class="lemma">vyskytování se</span> na světě</span>),
abstraktní výsledek děje
(<span class="example"><span class="lemma">potěšení</span> ze hry, <span class="lemma">kontrola</span> nad územím, <span class="lemma">plán</span> na zvýšení daní</span>)
nebo vlastnost
(<span class="example"><span class="lemma">pevnost</span> materiálu, <span class="lemma">důvtip</span> generálů, chlapcův bystrý <span class="lemma">postřeh</span></span>),
dále substantiva konkrétní, 
označující substanci (fyzický denotát, tj.&nbsp;věc, osobu, místo nebo  nástroj, 
např.&nbsp;<span class="example">potrhaný <span class="lemma">plán</span> města, <span class="lemma">dopis</span> redakci, první <span class="lemma">písemnosti</span> o&nbsp;obci, akceschopné <span class="lemma">velení</span> armády, <span class="lemma">průvodce</span> divočinou, <span class="lemma">opravna</span> automobilů, <span class="lemma">brus</span> nožů</span>),
a nakonec substantiva kvantitativní,
označující množství, část, díl nebo skupinu
(tzv.&nbsp;kontejnery,
např.&nbsp;<span class="example"><span class="lemma">polovina</span> lidí, <span class="lemma">množství</span> turistů, poloprázdné <span class="lemma">balení</span> léků, <span class="lemma">sbírka</span> motýlů</span>). 
To,
do které z&nbsp;těchto skupin substantivum patří,
má vliv i na&nbsp;jeho valenci.
Pokud jde o&nbsp;substantiva deverbativní,
pouze substantiva označující událost mají valenční chování odvoditelné od&nbsp;jejich základových sloves
(tzv.&nbsp;<em>systémové valenční chování, 
např.&nbsp;<span class="example"><span class="lemma">kontrolování</span> / <span class="lemma">kontrola</span> trati traťmistrem</span></em>),
zatímco ve&nbsp;valenci ostatních substantiv dochází oproti jejich základovým slovesům k&nbsp;větším či menším změnám projevujícím se v&nbsp;počtu, povaze nebo morfematických formách valenčních doplnění
(tzv.&nbsp;<em>nesystémové valenční chování</em>, 
např.&nbsp;<span class="example"><span class="lemma">kontrola</span> nad územím</span>;
<a href="#bib:Nomvallex" class="href" title="NomVallex I">Kolářová et&nbsp;al., 2020</a>, <a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=57">oddíl 4.5</a>).
Valenční chování je také ovlivněno sémantickou třídou,
do&nbsp;které dané substantivum patří (<a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=64">oddíl 4.6</a>).
Problematika valence substantiv tak zasahuje do&nbsp;mnoha oblastí zkoumání jazyka a jejímu pochopení napomáhají nejrůznější lingvistické přístupy, srov.&nbsp;<a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=15">kapitola 1</a>.
</p><p>Valenční slovník <span class="caps">NomVallex</span> je koncipován jako lexikografický zdroj rozšiřující nabídku valenčních slovníků budovaných v&nbsp;posledních desetiletích v&nbsp;Ústavu formální a aplikované lingvistiky na Matematicko-fyzikální fakultě Univerzity Karlovy. Stejně jako <em>VALLEX</em> (valenční slovník českých sloves, <a href="#bib:LopatkovaEtAl16Vallex" class="href" title="Valenční slovník českých sloves VALLEX">Lopatková et&nbsp;al., 2016b</a>)
a PDT-Vallex (valenční slovník sloves, substantiv, adjektiv a adverbií propojený s&nbsp;daty <span class="example">Pražského závislostního korpusu</span>, <a href="#bib:HajicEtAl03PDTVallex" class="href" title="PDT-VALLEX: Creating a Large-coverage Valency Lexicon for Treebank Annotation">Hajič et&nbsp;al., 2003</a>)
vychází z&nbsp;valenční teorie <em>Funkčního generativního popisu</em> (FGP) 
rozpracované Jarmilou Panevovou (<a href="#bib:panevova-74-5" class="href" title="On Verbal Frames in Functional   Generative Description I&ndash;II">1974&ndash;75</a>;
<a href="#bib:Panevova80formy" class="href" title="Formy a funkce ve stavbě české věty">1980</a>).
Zatímco zkratkové slovo <em>Vallex</em> v&nbsp;názvu těchto slovníků vychází z&nbsp;anglického <em>valency lexicon</em>,
předpona <em>Nom</em> byla zvolena tak, aby zahrnovala řídící slova jmenných (nominálních i adjektivních) skupin, tedy substantiva a adjektiva,
pro něž je někdy užíván zastřešující anglický termín <em>nominals</em>.
<a href="#fn4" id="fnmark4" class="footnote">4</a>
Zde předkládaná verze <span class="caps">NomVallex&nbsp;I.</span> zachycuje valenci vybraných deverbativních substantiv,
ve druhé fázi se slovník zaměří na valenci adjektiv a deadjektivních substantiv.
Lexikografické zpracování valence deverbativních substantiv v&nbsp;podobě slovníku <span class="caps">NomVallex&nbsp;I.</span> je hlavním výsledkem tříletého projektu Grantové agentury České republiky s&nbsp;názvem <span class="example">Valenční slovník českých substantiv založený na korpusu</span> (GAČR 16-02196S).
Slovník <span class="caps">NomVallex&nbsp;I.</span> má tištěnou i online verzi;
<a href="#fn5" id="fnmark5" class="footnote">5</a> 
obě verze jsou doplněny teoretickým výkladem o&nbsp;valenci deverbativních substantiv 
(<a href="#bib:Nomvallex" class="href" title="NomVallex I">Kolářová et&nbsp;al., 2020</a>, <a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=21">kapitola 4</a>).
V&nbsp;repozitáři Lindat
<a href="#fn6" id="fnmark6" class="footnote">6</a>
je zpřístupněna také elektronická verze ve formě strojově čitelných dat.
<a href="#fn7" id="fnmark7" class="footnote">7</a>
</p><p>Primární zaměření na deverbativní substantiva je dáno zejména dvěma faktory: 
jednak se nabízela možnost navázat na propracované teoretické i lexikografické zpracování valence sloves, 
jednak byla vedle valence slovesné právě i valence deverbativních substantiv tématem,
které dlouhodobě přitahovalo pozornost valenčních studií vycházejících z&nbsp;teoretického rámce FGP 
(např.&nbsp;<a href="#bib:Pitha84case" class="href" title="Case Frames for Nouns">Piťha, 1984</a>;
<a href="#bib:Panevova00poznamky" class="href" title="Poznámky k valenci podstatných jmen">Panevová, 2000</a>;
<a href="#bib:CinkovaKolarova04nouns" class="href" title="Nouns as Components of Support Verb Constructions in the Prague Dependency Treebank">Cinková &ndash; Kolářová, 2004</a>;
<a href="#bib:Kolarova10valence" class="href" title="Valence deverbativních substantiv v češtině (na materiálu substantiv s dativní valencí)">Kolářová, 2010</a>;
<a href="#bib:Vernerova11nominal" class="href" title="Nominal Valency in Lexicons">Vernerová, 2011</a>;
<a href="#bib:KettnerovaKolarovaVernerova17deverbal" class="href" title="Deverbal Nouns in Czech Light Verb Constructions">Kettnerová et&nbsp;al., 2017</a>).
Z&nbsp;hlediska srovnání s&nbsp;valencí sloves se jevila jako nejzajímavější taková deverbativní substantiva,
která mohou alespoň v&nbsp;jednom ze svých významů označovat událost nebo abstraktní výsledek děje.
Tomuto požadavku odpovídají v&nbsp;češtině dva typy deverbativních substantiv,
totiž tzv.&nbsp;<em>kmenové deriváty</em> 
(substantiva tvořená sufixy <span class="example">-ní/-tí</span>, 
např.&nbsp;<span class="lemma">čtení, namítnutí&thinsp;<span class="lemma">&mdash;</span>&thinsp; namítání, žádání</span>)
a
tzv.&nbsp;<em>kořenové deriváty</em>
(substantiva tvořená různými sufixy,
např.&nbsp;<span class="lemma">četba, námitka, žádost</span>;
blíže viz
<a href="#bib:Nomvallex" class="href" title="NomVallex I">Kolářová et&nbsp;al. (2020, oddíl 3.1)</a>.
Jedním z&nbsp;cílů slovníku <span class="caps">NomVallex&nbsp;I.</span> je popsat zejména nesystémové valenční chování těchto dvou typů deverbativních substantiv,
a to na&nbsp;základě srovnání s&nbsp;valenčním chováním jejich základových sloves uvedených ve&nbsp;slovníku <em>VALLEX</em>. 
Dřívější studium valenčního chování deverbativních substantiv naznačilo, 
že nesystémové valenční chování je charakteristické pro určité sémantické třídy (<a href="#bib:Kolarova10valence" class="href" title="Valence deverbativních substantiv v češtině (na materiálu substantiv s dativní valencí)">Kolářová, 2010</a>).
Pro zpracování ve&nbsp;slovníku <span class="caps">NomVallex&nbsp;I.</span> byly proto vybrány tři sémantické třídy, 
u&nbsp;nichž se nesystémové valenční chování projevuje nejvýrazněji a lze ho na nich názorně demonstrovat,
konkrétně <span class="attrvalue">Communication</span>
(např.&nbsp;<span class="lemma">dotaz</span>, 
<span class="lemma">dotazování (se)&thinsp;<span class="lemma">&mdash;</span>&thinsp; dotázání (se)</span>),
<span class="attrvalue">Mental Action</span>
(např.&nbsp;<span class="lemma">plán</span>, 
<span class="lemma">plánování</span>)
a <span class="attrvalue">Psych State</span>
(např.&nbsp;<span class="lemma">nenávist</span>, 
<span class="lemma">nenávidění</span>), 
viz též 
<a href="#bib:Nomvallex" class="href" title="NomVallex I">Kolářová et&nbsp;al., 2020</a>, <a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=62">oddíly 4.5.2.3 a 4.6</a>;
při výkladu našeho pojetí v&nbsp;<a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=21">kapitole 4</a>
si však vypomáháme i příklady z&nbsp;jiných sémantických tříd,
např.&nbsp;<span class="attrvalue">Exchange</span> (<span class="lemma">věno</span>).
</p><p>Kritériem pro zařazení do slovníku <span class="caps">NomVallex&nbsp;I.</span> je tedy příslušnost k&nbsp;sémantické třídě <span class="attrvalue">Communication</span>, <span class="attrvalue">Mental Action</span> nebo <span class="attrvalue">Psych State</span>,
označení události nebo abstraktního výsledku děje a projev nesystémového valenčního chování,
zejména užívání nesystémových forem valenčních doplnění,
a to alespoň u&nbsp;jednoho
typu zkoumaných substantiv
(kmenového nebo kořenového derivátu odvozeného od téhož základového slovesa; 
<a href="#bib:Nomvallex" class="href" title="NomVallex I">Kolářová et&nbsp;al., 2020, oddíl 3.2</a>).
U&nbsp;substantivních lexémů zařazených do slovníku vydělujeme jednotlivé lexikální jednotky (lexikální významy doplněné glosou); 
celkově slovník <span class="caps">NomVallex&nbsp;I.</span> obsahuje 248 lexémů zahrnujících 505 lexikálních jednotek,
což odpovídá 297 unikátním lemmatům (při započtení homonym zvlášť dokonce 308 lemmatům). 
Valenci jednotlivých lexikálních jednotek zachycujeme ve formě valenčního rámce, 
který pro každé valenční doplnění uvádí jeho typ (funktor) a množinu možných morfematických vyjádření 
(<a href="#bib:Nomvallex" class="href" title="NomVallex I">oddíly 2.2, 2.3 a 3.5</a>).
Valenci popsanou ve valenčním rámci dokládáme korpusovými příklady.
<a href="#fn8" id="fnmark8" class="footnote">8</a>
Na reprezentativním vzorku komplexně zpracovaných substantivních hesel naznačujeme hlavní tendence ve&nbsp;valenčním chování českých deverbativních substantiv 
(<a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=21">kapitola 4</a>),
přičemž mimo jiné ukazujeme,
že pro kmenové a kořenové deriváty 
je charakteristické jiné valenční chování
(blíže viz <a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=44">oddíly 4.4 a 4.5</a>
a také <span class="todo">fig:zadat</span>).
</p><p>Valenční slovník <span class="caps">NomVallex&nbsp;I.</span> však nabízí víc než jen pouhý přehled možných vazeb zkoumaných substantiv a rozdílů oproti valenci jejich základových sloves (<a href="https://ufal.mff.cuni.cz/books/preview/2020-kolarova_preview.pdf#page=27">oddíl 4.2</a>). Jeho ambicí je také upoutat pozornost na bohatost a variabilitu substantivních valenčních struktur, které díky většímu množství morfematických forem valenčních doplnění umožňují ve srovnání se slovesy více kombinací, v&nbsp;nichž se tato doplnění, vyjádřená různými formami, mohou vyskytnout.
V&nbsp;příkladové části proto slovník podrobně zachycuje
substantivní valenční struktury doložené v&nbsp;použitých korpusových datech, přičemž tyto struktury detailně třídí podle zastoupených valenčních doplnění a jejich forem. Vzhledem k&nbsp;tomu, že datová část slovníku je v&nbsp;elektronické verzi volně dostupná a strojově čitelná, poskytuje tak slovník bohatý jazykový materiál využitelný při dalším výzkumu valence českých deverbativních substantiv i při jiných aplikacích.
</p></div> <!-- LEVEL: 1->0 -->

<hr />
<h3 id="sec:footnotes">Poznámky</h3>
<ul class="footnotes">
	<li id="fn1"><a href="#fnmark1">^</a>[1] Mezi závislými jednotkami rozlišujeme aktanty a volná doplnění, přičemž aktanty považujeme za valenční vždy, volná doplnění jen v&nbsp;případě, že jsou obligatorní 
(<a href="#bib:Nomvallex" class="href" title="NomVallex I">Kolářová et&nbsp;al., 2020, oddíl 2.2</a>).
	<li id="fn2"><a href="#fnmark2">^</a>[2] Nerozlišujeme zde valenci a intenci; k&nbsp;intenci viz <a href="#bib:Pauliny43struktura" class="href" title="Štruktúra slovenského slovesa">Pauliny (1943)</a> a <a href="#bib:NESvalence" class="href" title="Valence">Panevová &ndash; Karlík (2017)</a>.</li>
	<li id="fn3"><a href="#fnmark3">^</a>[3] 
Primární vyjádření slovesné valence v&nbsp;aktivní větné struktuře podléhá nejrůznějším změnám označovaným souhrnně jako gramatikalizované alternace, zahrnujícím diatezi, reflexivitu a reciprocitu
(<a href="#bib:LopatkovaEtAl16Vallex" class="href" title="Valenční slovník českých sloves VALLEX">Lopatková et&nbsp;al., 2016b</a>;
<a href="#bib:KettnerovaLopatkova16alternations" class="href" title="Alternations: From Lexicon to Grammar And Back Again">Lopatková &ndash; Kettnerová, 2016</a>;
<a href="#bib:LopatkovaVernerovaKettnerova16diateze" class="href" title="Diateze ve Valenčním slovníku českých sloves VALLEX">Lopatková et&nbsp;al., 2016a</a>). 
V&nbsp;povrchové stavbě věty se projevují i
lexikalizované alternace,
tj.&nbsp;rozdílné strukturace blízkých mimojazykových obsahů (<a href="#bib:LopatkovaEtAl16Vallex" class="href" title="Valenční slovník českých sloves VALLEX">Lopatková et&nbsp;al., 2016b</a>;
<a href="#bib:Kettnerova12lexikalne" class="href" title="Lexikálně-sémantické konverze ve valenčním slovníku">Kettnerová, 2012</a>).
</li>
	<li id="fn4"><a href="#fnmark4">^</a>[4] Např.&nbsp;Wiktionary definuje jeden z&nbsp;významů substantiva <em>nominal</em> jako <em>part of speech that shares features with nouns and adjectives</em>,
tj.&nbsp;slovní druh, který sdílí vlastnosti se substantivy a adjektivy, viz <a href="https://en.wiktionary.org/wiki/nominal#Noun">https://en.wiktionary.org/wiki/nominal#Noun</a>.</li>
	<li id="fn5"><a href="#fnmark5">^</a>[5] <a href="https://ufal.mff.cuni.cz/nomvallex">https://ufal.mff.cuni.cz/nomvallex</a></li>
	<li id="fn6"><a href="#fnmark6">^</a>[6] <a href="http://hdl.handle.net/11234/1-3420">http://hdl.handle.net/11234/1-3420</a></li>
	<li id="fn7"><a href="#fnmark7">^</a>[7] Repozitář Lindat a zpracování a distribuce některých jazykových zdrojů použitých během prací na slovníku <span class="caps">NomVallex&nbsp;I.</span> byly podpořeny projekty MŠMT LINDAT/CLARIN (LM2015071) a LINDAT/CLARIAH-CZ (LM2018101).</li>
	<li id="fn8"><a href="#fnmark8">^</a>[8] Využíváme korpusy řady <span class="example">SYN</span> Českého národního korpusu (<a href="#bib:HnatkovaEtAl14SYN" class="href" title="The SYN-series corpora of written Czech">Hnátková et&nbsp;al., 2014</a>;
<a href="#bib:SYNv8" class="href" title="Korpus SYN, verze 8">Křen et&nbsp;al., 2019</a>)
a korpus <span class="example">Araneum Bohemicum Maximum</span> (<a href="#bib:Benko14Aranea" class="href" title="Aranea: Yet another family of (comparable) web corpora">Benko, 2014</a>;
<a href="#bib:Araneum" class="href" title="Araneum Bohemicum Maximum, verze 15.04">Benko, 2015</a>);
obojí je dostupné přes rozhraní KonText <a href="https://kontext.korpus.cz/">https://kontext.korpus.cz/</a>.</li>
</ul>

<hr />
<h3 id="sec:biblio">Seznam literatury</h3>
<ul class="biblio">
	<li id="bib:Benko14Aranea"><span class="bib-note">Benko (2014)</span><br /><span class="capsname">Benko</span>, V. (2014): Aranea: Yet another family of (comparable) web   corpora.  In <em>International Conference on Text, Speech, and Dialogue</em>,   s.&nbsp;247&ndash;256. Springer.  </li>
	<li id="bib:Araneum"><span class="bib-note">Benko (2015)</span><br /><span class="capsname">Benko</span>, V. (2015): <em>Araneum Bohemicum Maximum, verze 15.04</em>.   Ústav Českého národního korpusu FF UK.  Dostupné z: <a href="http://www.korpus.cz/">http://www.korpus.cz/</a>.  </li>
	<li id="bib:CinkovaKolarova04nouns"><span class="bib-note">Cinková &ndash; Kolářová (2004)</span><br /><span class="capsname">Cinková</span>, S. &ndash; Kolářová, V. (2004): Nouns as Components   of Support Verb Constructions in the Prague Dependency Treebank.  In <em>Korpusy a korpusová lingvistika v zahraničí a na   Slovensku</em>.  Dostupné z:   <a href="http://ufal.mff.cuni.cz/pdt2.0/publications/CinkovaKolarova2004.pdf">http://ufal.mff.cuni.cz/pdt2.0/publications/CinkovaKolarova2004.pdf</a>.  </li>
	<li id="bib:HajicEtAl03PDTVallex"><span class="bib-note">Hajič et&nbsp;al. (2003)</span><br /><span class="capsname">Hajič</span>, J. et&nbsp;al. (2003): PDT-VALLEX: Creating a Large-coverage   Valency Lexicon for Treebank Annotation.  In <em>Proceedings of The Second Workshop on Treebanks and   Linguistic Theories</em>, 9 / <em>Mathematical Modeling in Physics, Engineering   and Cognitive Sciences</em>, s.&nbsp;57&ndash;68. Vaxjo University Press.  </li>
	<li id="bib:HnatkovaEtAl14SYN"><span class="bib-note">Hnátková et&nbsp;al. (2014)</span><br /><span class="capsname">Hnátková</span>, M. et&nbsp;al. (May 2014): The SYN-series corpora of written   Czech.  In <span class="caps">Calzolari</span>, N. et&nbsp;al. (ed.) <em>Proceedings of the Ninth   International Conference on Language Resources and Evaluation (LREC'14)</em>,   s.&nbsp;160&ndash;164, Reykjavik, Iceland, European Language Resources Association   (ELRA).  Dostupné z:   <a href="http://www.lrec-conf.org/proceedings/lrec2014/pdf/294_Paper.pdf">http://www.lrec-conf.org/proceedings/lrec2014/pdf/294_Paper.pdf</a>.  </li>
	<li id="bib:Kettnerova12lexikalne"><span class="bib-note">Kettnerová (2012)</span><br /><span class="capsname">Kettnerová</span>, V. (2012): <em>Lexikálně-sémantické konverze ve   valenčním slovníku</em>.  PhD thesis, Praha, Charles University.  Dostupné z:   <a href="https://ufal.mff.cuni.cz/&nbsp;benesova/literatura/thesis.pdf">https://ufal.mff.cuni.cz/&nbsp;benesova/literatura/thesis.pdf</a>.  </li>
	<li id="bib:KettnerovaKolarovaVernerova17deverbal"><span class="bib-note">Kettnerová et&nbsp;al. (2017)</span><br /><span class="capsname">Kettnerová</span>, V. &ndash; <span class="caps">Kolářová</span>, V. &ndash; Vernerová, A.   (2017): Deverbal Nouns in Czech Light Verb Constructions.  In <em>International Conference on Computational and Corpus-Based   Phraseology (Europhras Proceedings)</em>, s.&nbsp;205&ndash;219. Springer.  </li>
	<li id="bib:Kolarova10valence"><span class="bib-note">Kolářová (2010)</span><br /><span class="capsname">Kolářová</span>, V. (2010): <em>Valence deverbativních substantiv v   češtině (na materiálu substantiv s dativní valencí)</em>.  Praha, Karolinum.  </li>
	<li id="bib:NomVallex"><span class="bib-note">Kolářová et&nbsp;al. (2020)</span><br /><span class="capsname">Kolářová</span>, V. et&nbsp;al. (2020): <em>NomVallex I: Valenční slovník substantiv</em>.  Praha, ÚFAL.</li>
	<li id="bib:SYNv8"><span class="bib-note">Křen et&nbsp;al. (2019)</span><br /><span class="capsname">Křen</span>, M. et&nbsp;al. (2019): <em>Korpus SYN, verze 8 z 12. 12. 2019</em>.   Ústav Českého národního korpusu FF UK.  Dostupné z: <a href="http://www.korpus.cz/">http://www.korpus.cz/</a>.  </li>
	<li id="bib:LopatkovaEtAl16Vallex"><span class="bib-note">Lopatková et&nbsp;al. (2016b)</span><br /><span class="capsname">Lopatková</span>, M. et&nbsp;al. (2016b): <em>Valenční slovník   českých sloves <em>VALLEX</em></em>.  Praha, Karolinum.  </li>
	<li id="bib:KettnerovaLopatkova16alternations"><span class="bib-note">Lopatková &ndash; Kettnerová (2016)</span><br /><span class="capsname">Lopatková</span>, M. &ndash; Kettnerová, V. (2016):   Alternations: From Lexicon to Grammar And Back Again.  In <span class="caps">Hajičová</span>, E. &ndash; <span class="caps">Boguslavsky</span>, I.   (ed.) <em>Proceedings of the Workshop on Grammar and Lexicon: Interactions and Interfaces (GramLex)</em>, s.&nbsp;18&ndash;27, Ōsaka, Japan, ICCL, The COLING 2016 Organizing Committee.  </li>
	<li id="bib:LopatkovaVernerovaKettnerova16diateze"><span class="bib-note">Lopatková et&nbsp;al. (2016a)</span><br /><span class="capsname">Lopatková</span>, M. &ndash; <span class="caps">Vernerová</span>, A. &ndash; Kettnerová, V.   (2016a): Diateze ve Valenčním slovníku českých sloves VALLEX.  In <span class="caps">Skwarska</span>, K. &ndash; <span class="caps">Kaczmarska</span>, E. (ed.)   <em>Výzkum slovesné valence ve slovanských zemích</em>, s.&nbsp;149&ndash;168. Praha,   Slovanský ústav AV ČR.  </li>
	<li id="bib:panevova-74-5"><span class="bib-note">Panevová (1974&ndash;75)</span><br /><span class="capsname">Panevová</span>, J. (1974&ndash;75): On Verbal Frames in Functional Generative Description I&ndash;II.  <em>The Prague Bulletin of Mathematical Linguistics</em>. 22&ndash;23, s.&nbsp;3&ndash;40, s. 17&ndash;52.  </li>
	<li id="bib:Panevova80formy"><span class="bib-note">Panevová (1980)</span><br /><span class="capsname">Panevová</span>, J. (1980): <em>Formy a funkce ve stavbě české   věty</em>.  13 / <em>Studie a práce lingvistické</em>. Praha, Academia.  </li>
	<li id="bib:Panevova00poznamky"><span class="bib-note">Panevová (2000)</span><br /><span class="capsname">Panevová</span>, J. (2000): Poznámky k valenci podstatných jmen. In  Hladká &ndash; Karlík (editoři): <em>Čeština &ndash; univerzália a specifika 2</em>, Brno, Vydavatelství MU, s.&nbsp;173&ndash;180.</li>
	<li id="bib:NESvalence"><span class="bib-note">Panevová &ndash; Karlík (2017)</span><br /><span class="capsname">Panevová</span>, J. &ndash; Karlík, P. (2017): Valence. In Karlík &ndash; Nekula &ndash; Pleskalová (editoři): <em>CzechEncy &ndash; Nový encyklopedický slovník češtiny online</em>. Dostupné z: <a href="https://www.czechency.org/slovnik/VALENCE">https://www.czechency.org/slovnik/VALENCE</a>.</li>
	<li id="bib:Pauliny43struktura"><span class="bib-note">Pauliny (1943)</span><br /><span class="capsname">Pauliny</span>, E. (1943): <em>Štruktúra slovenského   slovesa</em>.  Bratislava, Slovenská akadémia vied a umení.  </li>
	<li id="bib:Pitha84case"><span class="bib-note">Piťha (1984)</span><br /><span class="capsname">Piťha</span>, P. (1984): Case Frames for Nouns. In <span class="caps">Sgall</span>, P. (ed.) <em>Contributions to Functional Syntax,   Semantics, and Language Comprehension</em>, s.&nbsp;225&ndash;238. Amsterdam &ndash;   Philadelphia, Jonh Benjamins.  </li>
	<li id="bib:Vernerova11nominal"><span class="bib-note">Vernerová (2011)</span><br /><span class="capsname">Vernerová</span>, A. (2011): Nominal Valency in Lexicons. In <span class="caps">Šafránková</span>, J. &ndash; <span class="caps">Pavlů</span>, J. (ed.)   <em>Proceedings of the 20th Annual Conference of Doctoral Students - WDS   2011. Part I: Mathematics and Computer Science</em>, s.&nbsp;171&ndash;176, Prague, Charles   University in Prague, MatfyzPress.  Dostupné z:   <a href="http://www.mff.cuni.cz/veda/konference/wds/proc/proc-contents.php?year=2011">http://www.mff.cuni.cz/veda/konference/wds/proc/proc-contents.php?year=2011</a>.  </li>
</ul>

</div> <!--maintext-->
<hr />
</body>
</html>
